.greetings-container {
  @include flexbox(row, center, center);
  margin: 53.6px 0px 53.6px 0px;
  width: 100%;
  .image-container {
    @include flexbox(initial, center, flex-end);
    margin-right: 100px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    background-color: $secondary-color;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &.dark {
      background-color: $secondary-color-dark;
    }
    img {
      height: 230px;
      background-position: center;
    }
  }
  .introduction {
    width: 530px;
    .greetings {
      margin: 0;
      opacity: 0;
      border-right: solid 5px transparent;
      white-space: nowrap;
      font-size: 80px;
      font-weight: 600;
      overflow: hidden;
      animation: animated-text 1.3s steps(10, end) 0.2s forwards,
        animated-cursor 1s step-end 7;
    }
    .description {
      font-size: 18px;
      opacity: 0;
      animation: 0.5s anim-lineUp ease-out 1.7s forwards;
    }
  }

  @keyframes animated-text {
    from {
      width: 0;
      opacity: 1;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes animated-cursor {
    to {
      border-color: transparent;
    }
    50% {
      border-color: $secondary-color-dark;
    }
  }
}
@media screen and (max-width: 900px) {
  .greetings-container {
    .image-container {
      display: none;
    }
  }
}
@media screen and (max-width: 740px) {
  .greetings-container {
    .introduction {
      width: 500px;
      .greetings {
        font-size: 75px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .greetings-container {
    width: 450px;
    .introduction {
      .greetings {
        font-size: 70px;
      }
    }
  }
}
@media screen and (max-width: 490px) {
  .greetings-container {
    width: 400px;
    .introduction {
      .greetings {
        font-size: 60px;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .greetings-container {
    width: 300px;
    .introduction {
      .greetings {
        font-size: 45px;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .greetings-container {
    .greetings {
      font-size: 50px;
      .introduction {
        .greetings {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .greetings-container {
    width: 300px;
    .image-container {
      min-width: 0px;
      min-height: 0px;
      width: 150px;
      height: 150px;
      img {
        height: 140px;
      }
    }
    .greetings {
      font-size: 40px;
      font-weight: 600;
    }
  }
}
