.header {
  @include flexbox(row, space-between);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:20px 40px 20px 40px ;
  &.dark{
    background-color: $secondary-color-dark;
  }
  .logo {
    font-size: 30px;
    font-weight: 700;
  }
  .toggle-switch {
    @include flexbox(row, center, center);
    position: relative;
    width: 50px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.2);
    }
    label {
      position: absolute;
      width: 100%;
      height: 25px;
      background-color: #fff;
      border-radius: 50px;
      &.dark{
        background-color: #444;
      }
      cursor: pointer;
      input {
        position: absolute;
        display: none;
      }

      .slider-toggle {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transition: 0.3s;
      }

      input:checked ~ .slider-toggle {
        background-color: #fff;
      }

      .slider-toggle::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 7px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: inset 5px -2px 0px 0px #fff;
        background-color: #444444;
        transition: 0.3s;
      }

      input:checked ~ .slider-toggle::before {
        transform: translateX(23px);
        background-color: #444444;
        box-shadow: none;
      }
    }
  }
}
