.Home {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  .greetings-container {
    @include flexbox(initial, space-between, center);
    margin: 20px 0px 40px 0px;
    .image-container {
      @include flexbox(initial, center, flex-end);
      min-width: 200px;
      min-height: 200px;
      border-radius: 50%;
      background-color: $secondary-color;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      &.dark {
        background-color: $secondary-color-dark;
      }
      img {
        height: 190px;
        background-position: center;
      }
    }
    .greetings {
      font-size: 80px;
      font-weight: 600;
      align-self: center;
      place-self: center;
      justify-self: center;
      //   margin-left: 50px;
    }
    .filler {
      min-width: 200px;
      min-height: 200px;
    }
  }

  .skills-paragraph {
    @include flexbox(column);
    h3 {
      font-size: 30px;
      // width: 100%;
      margin: 0 auto;
    }
    .skills-container {
      @include flexbox(row, space-between, center);
      flex-wrap: wrap;
      .skill {
        @include flexbox(column, center);
        margin: 20px;
        width: 110px;
        height: 110px;
        span{
          margin: 0 auto;
        }
       
      }
    }
  }
  .portfolio {
    margin: 50px auto;

    .website-container {
      @include flexbox(column, center, center);

      .website-preview {
        position: relative;
        transition: 0.3s;
        margin-bottom: 20px;
        img {
          width: 100%;
          max-width: 800px;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
        }
        &:hover {
          opacity: 0.5;
        }
      }
      a {
        position: absolute;
        
        border-radius: 10px;
        border: none;
        opacity: 0;
        transition: 0.3s;
        text-decoration: none;
        text-align: center;
        color: #fff;
        padding: 15px 15px 10px 15px;
        cursor: pointer;
        
        img {
          width: 250px;
          border-radius: 10px;
        }
      }
     
    }
  }
}
