.projects {
  margin: 50px;
  @include flexbox(column, initial, center);
  // background-color: aqua;
  h3 {
    font-size: 30px;
    width: 250px;
    margin: 0px auto;
    margin-bottom: 50px;
    text-align: center;
  }
  a {
    text-decoration: none;
    @include flexbox(initial, center, center);
    text-decoration: none;
    font-size: 40px;
    border-radius: 10px;
    width: 500px;
    height: 85px;
    margin-bottom: 25px;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $secondary-color;
    transition: 0.2s;
    border: 1px solid rgb(161, 161, 161);
    color: $contrast-color;
    &.dark{
      background-color: $secondary-color-dark;
      color: $contrast-color-dark;
      border: 1px solid rgb(49, 49, 49);
    }
    &:hover {
      background-color: $contrast-color;
      cursor: pointer;
      color: $primary-color;
    }
   
    img {
      margin-left: 20px;
      height: 65px;
    }
    button {
     
    }
  }
}

@media screen and (max-width: 520px) {
  .projects {
    a{
      button{
        width: 400px;
        font-size: 35px;
        img {
          height: 55px;
        }
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .projects {
    a{
      button{
        width: 300px;
        font-size: 27px;
        img {
          margin-left: 15px;
          height: 45px;
        }
      }
    }
  }
}

