.projects {
  margin: 50px;
  @include flexbox(column, initial, center);
  // background-color: aqua;
  h3 {
    font-size: 30px;
    width: 250px;
    margin: 0px auto;
    margin-bottom: 50px;
    text-align: center;
  }
  a {
    @include aButton($secondary-color, 40px, 1100px, 85px, 25px);
    &.dark {
      // @include aButton($primary-color-dark);
      background-color: $secondary-color-dark;
    }
  }
}
@media screen and (max-width: 1150px) {
  .projects {
    a {
      width: 800px;
    }
  }
}
@media screen and (max-width: 840px) {
  .projects {
    a {
      width: 700px;
    }
  }
}
@media screen and (max-width: 740px) {
  .projects {
    a {
      width: 500px;
    }
  }
}

@media screen and (max-width: 550px) {
  .projects {
    a {
      width: 400px;
      font-size: 35px;
      img {
        height: 55px;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .projects {
    a {
      width: 320px;
      font-size: 27px;
      img {
        margin-left: 15px;
        height: 45px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .projects {
    a {
      width: 300px;
      font-size: 27px;
      img {
        margin-left: 15px;
        height: 45px;
      }
    }
  }
}
