.skills-paragraph {
  width: 100%;
  background-color: $secondary-color;
  padding-bottom: 25px;
  @include flexbox(column, initial, center);

  &.dark {
    background-color: $secondary-color-dark;
  }
  h3 {
    font-size: 30px;
  }
  .skills-container {
    @include flexbox(row, space-between, center);
    flex-wrap: wrap;
    width: 1000px;
    .skill {
      @include flexbox(column, center);
      margin: 20px;

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      span {
        margin: 0 auto;
      }
      &.Netlify {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .skills-paragraph {
    .skills-container {
      width: 800px;
      .skill {
        &.Netlify {
          display: flex;
        }
      }
    }
  }
}
@media screen and (max-width: 840px) {
  .skills-paragraph {
    .skills-container {
      width: 700px;
    }
  }
}
@media screen and (max-width: 740px) {
  .skills-paragraph {
    .skills-container {
      width: 500px;
    }
  }
}
@media screen and (max-width: 550px) {
  .skills-paragraph {
    .skills-container {
      @include flexbox(initial, flex-start);
      width: 450px;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }
}
@media screen and (max-width: 490px) {
  .skills-paragraph {
    .skills-container {
      width: 400px;
    }
  }
}
@media screen and (max-width: 450px) {
  .skills-paragraph {
    .skills-container {
      width: 350px;
    }
  }
}
