.skills-paragraph {
  width: 100%;
  background-color: $secondary-color;
  padding-bottom: 25px;
  @include flexbox(column, initial, center);

  &.dark {
    background-color: $secondary-color-dark;
  }
  h3 {
    font-size: 30px;
  }
  .skills-container {
    @include flexbox(row, space-between, center);
    flex-wrap: wrap;
    width: 1140px;
    .skill {
      @include flexbox(column, center);
      margin: 20px;

      img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        transition: .2s;
        &:hover{
          transform: scale(1.05);
        }
      }
      span {
        margin: 0 auto;
      }
      // &.Netlify {
      //   display: none;
      // }
      // &.PassportJS {
      //   display: none;
      // }
      
    }
  }
}

@media screen and (max-width: 1150px) {
  .skills-paragraph {
    .skills-container {
      width: 800px;
      .skill {
        &.PassportJS {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 840px) {
  .skills-paragraph {
    .skills-container {
      width: 700px;
    }
  }
}
@media screen and (max-width: 740px) {
  .skills-paragraph {
    .skills-container {
      width: 500px;
      .skill{
        font-size: 14px;
        img{
          width: 80px;
          height: 80px;
        }
        &.PassportJS {
          display: flex;
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .skills-paragraph {
    .skills-container {
      @include flexbox(initial, flex-start);
      width: 480px;
      flex-wrap: nowrap;
      overflow: auto;
      .skill{
        margin: 0px;
        margin-right: 25px;
        font-size: 12px;
        img{
          width: 65px;
          height: 65px;
        }
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .skills-paragraph {
    .skills-container {
      width: 400px;
    }
  }
}
@media screen and (max-width: 420px) {
  .skills-paragraph {
    .skills-container {
      width: 320px;
    }
  }
}
@media screen and (max-width: 400px) {
  .skills-paragraph {
    .skills-container {
      width: 300px;
    }
  }
}
