.WebsitePreview {
  @include flexbox(column, space-between, center);

  .preview {
    @include flexbox(row, space-between);
    .website-container {
      @include flexbox(column, center, center);
      margin-right: 100px;
      a {
        .website-preview {
          transition: 0.3s;
          img {
            width: 100%;
            height: 450px;
          }
        }
      }
      a.logo-container {
        position: absolute;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;

        img {
          width: 100px;
          border-radius: 10px;
        }
      }

      &:hover {
        a.logo-container {
          opacity: 1;
        }
        .website-preview {
          opacity: 0.5;
        }
      }
    }

    .mobile-container {
      @include flexbox(column, center, center);

      a {
        .mobile-preview {
          transition: 0.3s;
          img {
            height: 450px;
          }
        }
      }
      &:hover {
        a.logo-container {
          opacity: 1;
        }
        .mobile-preview {
          opacity: 0.5;
        }
      }
      a.logo-container {
        position: absolute;
        opacity: 0;
        transition: 0.3s;
        cursor: pointer;

        img {
          width: 100px;
          border-radius: 10px;
        }
      }
    }
  }

  .skill-list {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    max-width: 900px;
    padding: 0px 20px 0 20px;
    // background-color: #eee;
    li {
      margin-bottom: 10px;
      white-space: nowrap;
      font-size: 20px;
      display: inline;
      background-color: $secondary-color;
      color: $contrast-color;

      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      margin-right: 10px;
      transition: 0.2s;
      &:hover {
        background-color: $theme-color;
        color: #fff;
        cursor: default;
      }

      &.dark {
        background-color: $secondary-color-dark;
        color: $contrast-color-dark;
        &:hover {
          background-color: $theme-color;
        }
      }
    }
  }

  @media screen and (max-width: 1150px) {
    .preview {
      .website-container {
        a {
          .website-preview {
            img {
              height: 335px;
              max-width: 575px;
            }
          }
        }
      }
      .mobile-container {
        a {
          .mobile-preview {
            img {
              height: 335px;
            }
          }
        }
      }
    }
    .skill-list {
      max-width: 760px;
    }
  }
  @media screen and (max-width: 840px) {
    .preview {
      .website-container {
        a {
          .website-preview {
            img {
              height: 280px;
              max-width: 500px;
            }
          }
        }
      }
      .mobile-container {
        a {
          .mobile-preview {
            img {
              height: 280px;
            }
          }
        }
      }
    }
    .skill-list {
      max-width: 660px;
    }
  }
  @media screen and (max-width: 740px) {
    .preview {
      .website-container {
        a {
          .website-preview {
            img {
              height: 230px;
              max-width: 400px;
            }
          }
        }
        a.logo-container {
          display: none;
        }
      }
      .mobile-container {
        a {
          .mobile-preview {
            img {
              height: 230px;
            }
          }
        }
        a.logo-container {
          display: none;
        }
      }
    }
    .skill-list {
      max-width: 540px;
    }
  }
  @media screen and (max-width: 610px) {
    .preview {
      .website-container {
        a {
          .website-preview {
            img {
              height: 200px;
              max-width: 300px;
            }
          }
        }
      }
      .mobile-container {
        a {
          .mobile-preview {
            img {
              height: 170px;
            }
          }
        }
      }
    }
    .skill-list {
      max-width: 420px;
      li {
        font-size: 14px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .preview {
      .website-container {
        margin: 0;
        .website-preview {
          &.mobile {
            img {
              height: 150px;
              max-width: 70px;
            }
          }
        }
      }
      .mobile-container {
        a {
          .mobile-preview {
            display: none;
          }
        }
      }
    }
    .skill-list {
      max-width: 250px;
      max-height: 70px;
      overflow: hidden;
      li {
        font-size: 12px;
      }
    }
  }
}
