$primary-color: #e2e2e2;
$contrast-color: #2b2b2b;
$secondary-color: #d4d4d4;

$primary-color-dark: #333;
$contrast-color-dark: #dfdfdf;
$secondary-color-dark: rgb(66, 66, 66);

$theme-color: #0087e0;
