@import "./styles/scss/utilities/variables";
@import "./styles/scss/utilities/mixins";

@import "./styles/scss/partials/header";
@import "./styles/scss/partials/footer";
@import "./styles/scss/partials/home";
@import "./styles/scss/partials/website";

@import "./styles/scss/partials/skills";
@import "./styles/scss/partials/greetings";
@import "./styles/scss/partials/projects";

.App {
  @include flexbox(column, space-between);
  min-height: 100vh;
  background-color: $primary-color;
  color: $contrast-color;
  

  &.dark {
    background-color: $primary-color-dark;
    color: $contrast-color-dark;
  }
}
