.bgc-1 {
  background-color: rgba(27, 90, 121);
}

.bgc-2 {
  background-color: rgba(66, 16, 92);
}

.bgc-3 {
  background-color: rgba(229, 187, 134);
}

.bgc-4 {
  background-color: rgba(62, 128, 214);
}

.bgc-5 {
  background-color: rgba(117, 121, 136);
}

.bgc-6 {
  background-color: rgba(166, 127, 10);
}

.bgc-7 {
  background-color: rgba(242, 31, 110);
}

.bgc-8 {
  background-color: rgba(4, 49, 84);
}

.bgc-9 {
  background-color: rgba(1, 42, 199);
}

.bgc-10 {
  background-color: rgba(237, 122, 81);
}

.bgc-11 {
  background-color: rgba(221, 248, 42);
}

.bgc-12 {
  background-color: rgba(124, 95, 61);
}

.bgc-13 {
  background-color: rgba(255, 9, 226);
}

.bgc-14 {
  background-color: rgba(45, 77, 207);
}

.bgc-15 {
  background-color: rgba(57, 186, 14);
}

.bgc-16 {
  background-color: rgba(80, 126, 187);
}

.bgc-17 {
  background-color: rgba(170, 24, 142);
}

.bgc-18 {
  background-color: rgba(179, 253, 26);
}

.bgc-19 {
  background-color: rgba(220, 200, 56);
}

.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 0px 20px 0px;
}
.header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  width: 80%;
  margin: 0 auto;
}
.header .header-container.dark {
  background-color: #333333;
}
.header .header-container .logo {
  font-size: 30px;
  font-weight: 700;
}
.header .header-container .toggle-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  transition: 0.2s;
}
.header .header-container .toggle-switch:hover {
  transform: scale(1.2);
}
.header .header-container .toggle-switch label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.header .header-container .toggle-switch label.dark {
  background-color: #616161;
}
.header .header-container .toggle-switch label input {
  position: absolute;
  display: none;
}
.header .header-container .toggle-switch label .slider-toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}
.header .header-container .toggle-switch label input:checked ~ .slider-toggle {
  background-color: #fff;
}
.header .header-container .toggle-switch label .slider-toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 5px -2px 0px 0px #fff;
  background-color: #616161;
  transition: 0.3s;
}
.header .header-container .toggle-switch label input:checked ~ .slider-toggle::before {
  transform: translateX(23px);
  background-color: #616161;
  box-shadow: none;
}

.content {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.content .greetings-container {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 40px 0px;
}
.content .greetings-container .image-container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-end;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  background-color: #bebebe;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content .greetings-container .image-container.dark {
  background-color: #333333;
}
.content .greetings-container .image-container img {
  height: 190px;
  background-position: center;
}
.content .greetings-container .greetings {
  font-size: 80px;
  font-weight: 600;
  align-self: center;
  place-self: center;
  justify-self: center;
}
.content .greetings-container .filler {
  min-width: 200px;
  min-height: 200px;
}
.content .skills-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
}
.content .skills-paragraph h3 {
  font-size: 30px;
  margin: 0 auto;
}
.content .skills-paragraph .skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.content .skills-paragraph .skills-container .skill {
  margin: 10px;
  width: 110px;
  height: 110px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.content .skills-paragraph .skills-container .skill.js {
  background-image: url("../../../images/skills/js.png");
}
.content .skills-paragraph .skills-container .skill.ts {
  background-image: url("../../../images/skills/typescript.jpeg");
}
.content .skills-paragraph .skills-container .skill.react {
  background-image: url("../../../images/skills/react.png");
}
.content .skills-paragraph .skills-container .skill.mongo {
  background-image: url("../../../images/skills/mongo.jpg");
}
.content .skills-paragraph .skills-container .skill.postgres {
  background-image: url("../../../images/skills/postgres.png");
}
.content .skills-paragraph .skills-container .skill.node {
  background-image: url("../../../images/skills/node.png");
}
.content .skills-paragraph .skills-container .skill.express {
  background-image: url("../../../images/skills/express.png");
}
.content .skills-paragraph .skills-container .skill.ionic {
  background-image: url("../../../images/skills/ionic.png");
}
.content .portfolio {
  width: 700px;
  margin: 50px auto;
}
.content .portfolio .website-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
}
.content .portfolio .website-container .website-preview {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("../../../images/websites/marketplace-light.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
  cursor: pointer;
}
.content .portfolio .website-container .website-preview.dark {
  background-image: url("../../../images/websites/marketplace-dark.png");
}
.content .portfolio .website-container .website-preview:hover {
  opacity: 0.5;
}
.content .portfolio .website-container a {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #247afc;
  border: none;
  opacity: 0;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
.content .portfolio .website-container:hover a {
  opacity: 1;
}
.content .portfolio .website-container:hover .website-preview {
  opacity: 0.5;
}

.App {
  min-height: 100vh;
  background-color: #e2e2e2;
  color: #000;
}
.App.dark {
  background-color: #444;
  color: #fff;
}/*# sourceMappingURL=App.css.map */